<form [formGroup]="clientForm"
      (submit)="save()"
>
  <label>Firstname</label>
  <input type="text" formControlName="firstName"/>
  <br>
  <label>Lastname</label>
  <input type="text" formControlName="lastName"/>
  <br>
  <label>email</label>
  <input type="text" formControlName="email"/>
  <br>
  <label>telephone</label>
  <input type="text" formControlName="tel">
  <br>
  <label>company name</label>
  <input type="text" formControlName="companyName">

  <br>
  <br>

  <button type="submit"
  >
    Save
  </button>
</form>
